In [4]:
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd

# Control Sub-Tree Analysis

In [14]:
db_connection_str = 'mysql+pymysql://root:db@localhost/GDE'
db_connection = create_engine(db_connection_str)

pd.read_sql(r"SELECT * FROM Professor WHERE NAME LIKE '%%SERPA%%'", db_connection)

    ID                NAME
0  443  Alberto Luiz Serpa

In [18]:
control_subtree_subjects = ['EM306', 'EM404', 'ES601', 'EM607', 'ES710', 'ES626', 'ES827', 'ES728', 'ES828']
control_subtree_regex = [subject_codename + '.*' for subject_codename in control_subtree_subjects]

pd.read_sql("SELECT * FROM Subject WHERE SubjectName REGEXP '"+"|".join(control_subtree_regex) + "'", db_connection)

     ID                                        SubjectName
0  2093                                   EM306 - Estática
1  2099                                   EM404 - Dinâmica
2  2120            EM607 - Vibrações de Sistemas Mecânicos
3  2593                 ES601 - Análise Linear de Sistemas
4  2596  ES626 - Modelagem de Dispositivos Eletromecânicos
5  2605             ES710 - Controle de Sistemas Mecânicos
6  2612              ES728 - Controle Avançado de Sistemas
7  2621                        ES827 - Robótica Industrial
8  2622        ES828 - Laboratório de Controle de Sistemas